/* your code here */
body{
	background-color:black;
}
.logo_name{
	color:white;
	font-style:bold;
	font-size:32px;
	padding-top:20px;
	padding-left:15px;
	
}

.social-icon {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #ff5722;
}
.media-icons {
  display: flex;
  gap: 15px;
	position:right;
	padding-left:95%;
	padding-top:0%;
}

.link-boxes{
	display:flex;
}
.one {
  flex: 1;
}

.two {
  flex: 1;
}

.three {
  flex: 1;
}
.four{
	flex:1;
}
.five{
	flex:1;
}

h1{
	color:white;
	font-size:23px;
}
.bottom-details {
  text-align: center;
  margin-top: 20px;
}

.bottom-details p {
  font-size: 1rem;
  color: #ccc;
  margin: 0;
}